

<html>
    <head>
        <title>Footer</title>
    </head>
    <body>
      <style>
        .page-footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: rgb(41, 43, 44);
          color: white;
          text-align: center;
        }
      </style>
      {% block content %}
        
        <footer class="page-footer font-small blue">
          <div class="footer-copyright text-center py-1">All images are removed immediately</div>
          <div class="footer-copyright text-center py-1">
            <a href="https://github.com/SayanSahu99/Tiff-Converter">Source Code</a>
          </div>
        </footer>
      {% endblock %}
    </body>
</html>